body {
    background : #EEEEEE;
    font-family : "Helvetica","Arial",Tahoma,Arial,Helvetica,sans-serif;
    color: #001139;
    text-align: center;
}
h3 {
    text-align : center;
    text-decoration : none;
}
p {
    padding : 1%;
    font-size: 10px;
}
img {
    text-align : center;
    max-width : 100%;
    height : auto;
    width : auto;
}
#wrapper {
    margin : auto;
    width : auto;
    height: 100%;
    background : #e6e6fa;
    padding : 2%;
}
header {
    padding : 0px;
    text-align : center;
}

nav{
    width: 100%;
    background : #e6e6fa;
    padding : 0;
    margin : 0 0;
}

nav > a
{
    display: none;
}

nav li a
{   float : none;
    text-decoration : none;
    color: #001139;
    display: block;
}
nav a:hover, nav li.active a {
    background-color : #2b5797;
}



#nav1{
    font-weight: 500;
}

#nav2
{
    text-align: left;
    background-color : #EEEEEE;
    border: 25px #000000;
    margin: 25px;
    float: left;
    width : 85%;
    margin-top : 1.5%;
    border-radius :0px;
    margin-left: 1%;
    font-size: 25px;
margin-bottom: -15px;


}

#nav3{
    text-align: right;
    background-color : #EEEEEE;
    margin-top: -2.5%;
    color: #EEEEEE;
}

#nav4 {

    background-color: #00c853;
    width: 300px;
    padding: 35px;
    margin: 25px;
    float: left;
    margin-left: 980px;
    color: #EEEEEE;
    font-size: 20px;
}

#nav5 {

    background-color: #e53935;
    width: 300px;
    padding: 35px;
    margin: 25px;
    float: left;
    margin-left: 500px;
    margin-top: -150px;
    color: #EEEEEE;
    font-size: 20px;
}

#nav6 {

    background-color: #3949ab;
    width: 300px;
    padding: 35px;
    margin: 25px;
    float: left;
    margin-left: -806px;
    margin-top: -150px;
    color: #EEEEEE;
    font-size: 20px;

}
#nav7{
    text-align: left;
    background-color : #EEEEEE;
    border: 25px #000000;
    margin: 25px;
    float: left;
    width : 85%;
    margin-top : -1%;
    border-radius :0px;
    margin-left: 1%;
    font-size: 25px;
}


nav > ul > li
{
    float: left;
    width: 15%;
    margin-top: -1%;
    list-style-type: none;
    font-size: 20px;


}


.left-col {
    background : #EEEEEE;
    max-height: 100%;
    height: 100%;
    float : left;
    margin-top: 1.5%;
    margin-left: -2%;
    width:110px;



}
.sidebar {
    border-left: 5px solid #2b5797;
    float: left;
    width : 85%;
    margin-top : 2%;
    border-radius :0px;
    margin-left: 1%;
}

.HR {

    font-family: 'Raleway', sans-serif;
    color: #a2a9fe;
    font-size: 1.5em;
    font-weight: 200;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
footer{
    background : #7388A7;
    text-align: center;
}

p { margin: 20px 0 0; }
p:first-child { margin-top: 0; }



